<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts/</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rcproject</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>project.icns</string>
			<key>CFBundleTypeName</key>
			<string>InteractiveROSETTA</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>rcpj</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>project.icns</string>
	<key>CFBundleDocumentTypes</key>
        <array>
                <dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>pdb</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>PDB.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/x-pdb</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Protein Data Bank File</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>resfile</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>RESFILE.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/resfile</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Rosetta Design Palette</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>cfg</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>CFG.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/cfg</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Rosetta Configuration File</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>cst</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>CST.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/cst</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Rosetta Constraints File</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>fasta</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>FASTA.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/fasta</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>FASTA File</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>ensb</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>ENSB.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/ensb</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Rosetta Ensemble Archive</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>irm</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>IRM.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/irm</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>InteractiveROSETTA Module</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>msd</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>MSD.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/msd</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Rosetta Multistate Design Session</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>msdar</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>MSDAR.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/msdar</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Rosetta Multistate Design Archive</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>params</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>PARAMS.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/params</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Rosetta Parameters File</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
		<dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>scan</string>
                        </array>
                        <key>CFBundleTypeIconFile</key>
                        <string>SCAN.icns</string>
                        <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>chemical/scan</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Point Mutant Scanning File</string>
                        <key>CFBundleTypeOSTypes</key>
                        <array>
                                <string>TEXT</string>
                        </array>
                </dict>
	</array>
</dict>
</plist>
